---
layout: default
title: We Do It All
description: WeDIA is a full-service agency, busy designing and building remarkable digital products, brands, experiences, and campaigns.
---

<section class="intro">
	<div class="wrap">
		<h1 class="animated fadeIn">WeDIA is a full-service agency, busy designing and building remarkable digital products, brands, experiences, and campaigns.</h1>
	</div>
</section>

<section class="portfolio">
	<div class="content-wrap portfolio-wrap scroll-animations">

		{% assign projects = site.projects | sort: "rank" %}
		{% for project in projects %}

		<div class="portfolio-item wow fadeInUp" data-wow-duration="2s">
			<a class="portfolio-item__link" href="{{ project.url }}">
				<div class="portfolio-item__image">
					{% if project.featured_image != ''%}
						<img src="{{ project.featured_image  }}" alt="{{ project.title }}">
					{% else if project.featured_video %}
						<video>
							<source src="{{ project.featured_video }}" type="video/mp4">
						</video>
					{% endif %}
				</div>
				<div class="portfolio-item__content" id={{ project.css_id }}>
					<div class="portfolio-item__info">
						<h2 class="portfolio-item__title">{{ project.hover_title }}</h2>
					</div>
				</div>
			</a>
			<div class="project-title">
				<a href="{{ project.url }}">
					<h3>{{ project.title }}</h3>
					<p>{{ project.hover_title }}</p>
				</a>
			</div>

		</div>

		{% endfor %}

	</div>
</section>
