<footer class="footer">

	<div class="wrap">

		{% if site.data.settings.footer_settings.logo_image %}
		<a href="/" class="footer__logo">
			<img src="{{ site.data.settings.footer_settings.logo_image }}" class="footer__logo__img">
		</a>
		{% endif %}

	<div class="container footer-container">
	  <div class="row">
	  	<div class="col-md-3 col-6">
	  		<p class="footer-title">Services</p>
	  		<p><a href="/service/web-dev">Web Development</a></p>
	  		<p><a href="/service/app-dev">Mobile App Development</a></p>
	  		<p><a href="/service/social">Social Media Marketing</a></p>
	  		<p><a href="/service/design">Design & Branding</a></p>
	  		<p><a href="/service/creative">Creative</a></p>
	  		<p><a href="/service/seo">SEO/SEM</a></p>
	  	</div>
	  	<div class="col-md-3 col-6">
	  		<p class="footer-title">Case Studies</p>
	  		<p><a href="/project/3ee">3ee</a></p>
	  		<p><a href="/project/vestd">vestd</a></p>
	  		<p><a href="/project/andaz">Andaz</a></p>
	  		<p><a href="/project/dope">DOPE</a></p>
	  		<p><a href="/project/volcom">Volcom</a></p>
	  		<p><a href="/project/seo">Not Blue Designs</a></p>
	  	</div>
	  	<div class="col-md-3 col-6">
	  		<p class="footer-title">Learn</p>
	  		<p><a href="/blog">Blog</a></p>
	  	</div>
	  	<div class="col-md-3 col-6">
	  		<p class="footer-title">Contact</p>
	  		<p><a href="/contact">Work together</a></p>
	  		<p class="footer-paragraph">US:<a href="tel:+19172029619"> +1 (917) 202-9619</a><p>
	  		<p class="footer-paragraph">110 Wall Street, New York NY 10005</p>
	  	</div>
	  </div>
	</div>
		<p class="footer__text">{{ site.data.settings.footer_settings.footer_tagline }}</p>

		<div class="footer__copyright">
			<span>© {{ 'now' | date: "%Y" }} {{ site.data.settings.basic_settings.site_title }}</span>
		</div>

		{% include socials.html %}

	</div>

</footer>