// - - - - - - - - - - - - - - - - - -

// Single page/post/project

// - - - - - - - - - - - - - - - - - -

.intro {
	
	h1 {
		
		@include mq(tabletp) {
			white-space: pre-line;
		}
	}

	p {

	}
}

.content-wrap {

	@include mq(tabletp) {
		max-width: 90%;
		margin: 0 4%;
	}
}

.single {

	h1, h2, h3, h4, h5, h6, p, ul, ol {
		margin-left: auto;
		margin-right: auto;
		padding-left: 30px;
		padding-right: 30px;
		max-width: 500px;

		@include mq(tabletp) {
			padding-left: 0;
			padding-right: 0;
			max-width: 70%;
		}

		@include mq(tabletl) {
			max-width: 80%;
		}

		@include mq(laptop) {
			max-width: 80%;
		}
	}

	hr {
		margin: 30px auto;
		width: calc(100vw - 60px);
		max-width: 440px;

		@include mq(tabletp) {
			margin-top: 40px;
			margin-bottom: 40px;
			margin-left: auto;
			margin-right: auto;
			width: auto;
			max-width: 70%;
		}

		@include mq(tabletl) {
			max-width: 65%;
		}

		@include mq(laptop) {
			max-width: 60%;
		}
	}

	blockquote,
	figure {
		max-width: 90%;
		margin: 20px auto;

		@include mq(tabletp) {
			margin: 30px auto;
		}

		@include mq(laptop) {
			margin: 40px auto;
		}
	}

	blockquote p {
		max-width: 100%;
		padding: 0;
	}

	p a {
		font-weight: $bold-weight;
		border-bottom: 2px solid $accent-color;
	}

	p .button {
		margin-top: 10px;
	}

	.highlighter-rouge,
	table {
		margin: 20px auto;
		width: 100%;
		max-width: 90%;

		@include mq(tabletp) {
			margin: 30px auto;
			max-width: 70%;
		}

		@include mq(tabletl) {
			max-width: 65%;
		}

		@include mq(laptop) {
			margin: 40px auto;
			max-width: 60%;
		}
	}

	.highlight {
		display: block;
		padding: 0;
		line-height: 1.5;
		font-size: $p-small*0.85;
		line-height: $p-lineheight;
		overflow: auto;

		@include mq(tabletp) {
			font-size: $p-medium*0.85;
		}

		@include mq(laptop) {
			font-size: $p-large*0.85;
		}

		.highlight {
			padding: 20px;

			@include mq(tabletp) {
				padding: 30px;
			}

			@include mq(laptop) {
				padding: 40px;
			}
		}
	}

	table {
		border: 2px solid $text-dark-color;

		thead {
			background: $text-dark-color;
			color: $background-color;
			text-align: left;
			font-weight: $bold-weight;

			th {
				font-weight: $bold-weight;
			}
		}

		th, td {
			padding: 10px;
			font-size: $p-small;
			font-weight: $p-weight;

			@include mq(tabletp) {
				padding: 15px;
				font-size: $p-medium;
			}

			@include mq(laptop) {
				padding: 20px;
				font-size: $p-large;
			}
		}
		
		tr {

			&:nth-child(2n) {
				background: $background-alt-color;
			}
		}
	}
	.case-studies-list {
		max-width: 90%;
	}
}

.image-wrap,
.video-wrap {
	position: relative;
	max-width: 100%;
	margin: 20px auto;

	@include mq(tabletp) {
		margin: 30px auto;
	}

	@include mq(laptop) {
		margin: 40px auto;
	}

	&:first-child {
		margin-top: 0;
	}
}


[data-page-title="Case studies – WeDIA NYC"] {
	.single {
		p {
			@include mq(tabletp) {
				padding-left: 0;
				padding-right: 0;
				max-width: 90%;
			}
		}
	}
}

.image-wrap img {
	margin: 0 auto;
	width: 100vw;
	max-height: 1000px;
	object-fit: cover;
}

.video {
	position: relative;
	width: 100%;
	height: 0;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.full-video {
	max-width: none;
	width: 100%;
	height: 100%;
}

// Single Page (Process)

.services-title {
	font-size: 72px;
	text-align: center;
}

.single-page {
	margin-top: 0;
}
.process-wrap {
	max-width: 80%;
	margin: auto;
	margin-top: 120px;

	@include mq(phonel) {
		margin-top: 60px;
	}
	@include mq(tabletp) {
		margin-top: 120px;
	}
}

.process-title {
	font-size: calc(24px + 3vw);
	margin-left: 0px !important;
	margin-right: 0px !important;
	margin-top: 0px !important;

	@include mq(phonel) {
		margin-top: 20px !important;
		text-align: center;

	}
	@include mq(tabletp) {
		margin-top: 0px !important;
		font-size: calc(20px + 2vw);
		text-align: left;
	}

	@include mq(laptop) {
		font-size: calc(24px + 2vw);
	}
}

.title-right {
	@include mq(tabletp) {
		text-align: right;
	}
}

#A {
	text-align: center;
}

#B {
	padding-left: 0px;
}

.square-img {
	display: block;
	margin-right: auto;
	margin-left: auto;
	max-width: 100%;

 	@include mq(phonel) {
		max-width: 250px;
	}
	@include mq(tabletp) {
		max-width: 100%;
	}
	@include mq(laptop) {
		max-width: 100%;
	}
}

.bump-down-60 {
	margin-top: 0;

	@include mq(tabletp) {
		margin-top: 60px;
		max-width: 100%;
	}
}

.bump-down-30 {
	margin-top: 0;

	@include mq(tabletp) {
		margin-top: 30px;
		max-width: 100%;
	}
}


// .body-content {
// 	margin-left: 20px;
// 	font-size: 18;
	
// 	@include mq(phonel) {
// 		margin-left: 0px !important;
// 	}
// 	@include mq(tabletp) {
// 		margin-left: 20px !important;
// 	}
// }

.body-content {
	margin-left: 20px;
	font-size: calc(12px + .8vw);
	max-width: 100%;
	
	@include mq(tabletp) {
		max-width: 70%;
	}
	@include mq(laptop) {
		max-width: 70%;
	}
	p {
		margin-top: 16px;
	}
}

.container {
	margin-bottom: 80px;
}

.process-link-container {
	text-align: right;
	float: right;

	a {
		color: #1CAAEB;
	}
}

.process-link-container-left {
	text-align: right;
	float: right;
	a {
		color: #1CAAEB;
	}

	@include mq(tabletp) {
		text-align: left;
		float: left;
	}
}
