// - - - - - - - - - - - - - - - - - -

// Portfolio

// - - - - - - - - - - - - - - - - - -

.portfolio {
	padding: 0 $grid-spacing/2;
}

.portfolio-wrap {
	
}

.portfolio-item {
	position: relative;
	padding: $grid-spacing/2;
	float: left;
	width: 50%;
}

.portfolio-item__link {
	position: relative;
	display: block;

	// @include mq(tabletl) {

	// 	&:hover {

	// 		.portfolio-item__content {
	// 			opacity: 1;
	// 			visibility: visible;
	// 		}
	// 	}
	// }
}

.portfolio-item__image {
	width: 100%;
	overflow: hidden;
}

// /* Quick-zoom Container */
// .img-hover-zoom--quick-zoom img {
//   transform-origin: 0.5 0.5;
//   transition: transform 0.5s, visibility 0.25s ease-in;
// }

// /* The Transformation */
// .img-hover-zoom--quick-zoom:hover img {
//   transform: scale(1.3);
// }

.portfolio-item__content {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba($overlay-background-color, $overlay-opacity);

	opacity: 0;
	visibility: visible;

	@include transition(all 0.2s ease-in-out);
}

.portfolio-item__info {
	text-align: center;
}

.portfolio-item__title {
	color: $overlay-text-color;
	font-size: $grid-item-title-small;
	font-weight: $grid-item-title-weight;
	letter-spacing: $grid-item-title-spacing;

	@include mq(tabletp) {
		font-size: $grid-item-title-medium;
	}

	@include mq(laptop) {
		font-size: $grid-item-title-large;
	}
}

.portfolio-item__subtitle {
	margin-top: 5px;
	color: rgba($overlay-text-color, 0.7);
	font-size: $grid-item-subtitle-small;
	font-weight: $grid-item-subtitle-weight;
	letter-spacing: $grid-item-subtitle-spacing;

	@include mq(tabletp) {
		font-size: $grid-item-subtitle-medium;
	}

	@include mq(laptop) {
		font-size: $grid-item-subtitle-large;
	}
}

// Animations
@-webkit-keyframes INFO-FADE{
  0%   { opacity: 0; }
  50%  { opacity: 1; }
  100% { opacity: 0; }
}
@-moz-keyframes INFO-FADE {
  0%   { opacity: 0; }
  50%  { opacity: 1; }
  100% { opacity: 0; }
}
@-o-keyframes  INFO-FADE {
  0%   { opacity: 0; }
  50%  { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes INFO-FADE {
  0%   { opacity: 0; }
  50%  { opacity: 1; }
  100% { opacity: 0; }
}

#app {
	animation: INFO-FADE 5s infinite;

	@include mq(tabletp) {
		&:hover {
			background: rgba($overlay-background-color, 1);
			opacity: 1;
			animation: none;
		}
	}
}

#web {
	animation: INFO-FADE 5s infinite;
	animation-delay: 2s;

	@include mq(tabletp) {
		&:hover {
			background: rgba($overlay-background-color, 1);
			opacity: 1;
			animation: none;
		}
	}

}

#design {
	animation: INFO-FADE 5s infinite;
	animation-delay: 3s;	

	@include mq(tabletp) {
		&:hover {
			background: rgba($overlay-background-color, 1);
			opacity: 1;
			animation: none;
		}
	}
}

#creative {
	animation: INFO-FADE 5s infinite;
	animation-delay: 1s;

	@include mq(tabletp) {
		&:hover {
			background: rgba($overlay-background-color, 1);
			opacity: 1;
			animation: none;
		}
	}
}

#seo {
	animation: INFO-FADE 5s infinite;
	animation-delay: 5s;

	@include mq(tabletp) {
		&:hover {
			background: rgba($overlay-background-color, 1);
			opacity: 1;
			animation: none;
		}
	}

}

#social {
	animation: INFO-FADE 5s infinite;
	animation-delay: 4s;

	@include mq(tabletp) {
		&:hover {
			background: rgba($overlay-background-color, 1);
			opacity: 1;
			animation: none;
		}
	}
}

.project-title {
	text-align: center;
	margin-bottom: 30px;

	@include mq(tabletl) {
		margin-bottom: 45px;
	}

	h3 {
		font-size: 16px;
		margin-top: 10px;
		margin-bottom: 0px;

		@include mq(tabletl) {
			font-size: 20px;
			margin-top: 25px;
		}
	}
	a {
		&:hover {
			text-decoration: none;
		}
	}

	p {
		color: gray;
		font-size: 14px;
		font-weight: 300;
	}
}

